html.dark-mode {
    .nav_item {
        opacity: 1;
        &.active,
        &:hover {
            background-color: rgb(76 76 76 / 40%);
        }
    }
    .option {
        .ant-picker {
            background-color: var(--bg-primary-color);
            color: var(--text-color);
            .ant-picker-input > input {
                color: var(--text-color);
            }
            .ant-picker-suffix {
                color: var(--text-color);
            }
        }
        .time_options {
            background: var(--bg-primary-color);
            color: var(--text-color);
            border-radius: 0;
        }
        .chart_type_list  {
            background: var(--bg-primary-color);
            color: var(--text-color);
            border-radius: 0;
        }
    }
    .search-icon {
        color: var(--text-color)
    }
    #search {
        background-color: transparent;
    }

    .ant-table-content {
        tr, th {
            background-color: var(--bg-primary-color);
            color: var(--text-color);
        }

    }
    .ant-table-filter-dropdown {
        background-color: var(--bg-primary-color);
        color: var(--text-color);
        border:1px solid var(--border-color);
        .ant-dropdown-menu {
            background-color: var(--bg-primary-color);
            color: var(--text-color);
            .ant-dropdown-menu-item {
                color: var(--text-color)
            }
            .ant-dropdown-menu-item-selected, .ant-dropdown-menu-item-active {
                background-color: var(--bg-primary-color);
                color: var(--text-color)
            }
            .ant-table-filter-dropdown-search {
                background-color: var(--bg-primary-color);
                .ant-input-affix-wrapper {
                    background-color: var(--bg-primary-color);
                    .anticon-search {
                        color: var(--text-color)
                    }
                    .ant-input {
                        background-color: transparent;
                        color: var(--text-color)
                    }
                }
                .ant-btn {
                    color: var(--text-color)
                }
            }
            .ant-table-filter-dropdown .ant-dropdown-menu:empty::after {
                color: var(--text-color)
            }
        }

    }
    .ant-pagination-item-link, .ant-pagination-item {
        background-color: var(--bg-primary-color);
        color: var(--text-color)
    }    
    .ant-pagination-disabled button {
        color: #a0a0a036;
        border-color: #a0a0a036
    }
}
